<!DOCTYPE html>
<html>
<head>
  <title>Thincloud::Authentication</title>
  <%= stylesheet_link_tag    "thincloud/authentication/application", :media => "all" %>
  <%= javascript_include_tag "thincloud/authentication/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
